

.imgs{
  max-width: 100%;
  display: block;
  gridRowEnd: span 26;
}

.figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}


.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  height: 200vh;
  align-tracks: stretch ;
}